.window-frame, .window-frame:backdrop,
window.csd, window.solid-csd, window.maximized,
window.csd decoration, window.solid-csd decoration {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

headerbar, .titlebar {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
